:root {
  --primary-color: #000000;
  --secondary-color: #B274AF;
  --third-color: #FAFAFA;
  --fourth-color: #F5A451;
  --btn-color: #ff6583;
  --heading-font-family: "Poppins";
  --default-font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--primary-color);
}

h1{
  background-color: var(--primary-color);
  color: var(--third-color);
  font-family: var(--heading-font-family);
  font-size: 44px;
  padding: 30px 0px;
  text-align: center;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  color: var(--secondary-color);
}

nav {
  background-color: var(--primary-color);
  padding: 15px 0;
  font-family: var(--default-font-family);
  font-weight: bold;
}

nav a {
  color: var(--third-color);
  font-size: 12px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--btn-color);
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 10px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 12px;
  color: var(--third-color);
}

a {
  font-size: 20px;
  font-weight: bold;
}

i {
background-color: #FAFAFA;
border-radius: 30px;
padding: 10px;
}

img{
  border-radius: 30px;
}


footer {
  text-align: center;
}

footer a {
  color: var(--primary-color);
}


footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
}

footer .icons a {
  border-radius: 50%;
  font-size: 18px;
  padding: 10px 14px;
  margin: 0px 10px;
}

footer .icons a:hover {
  color: var(--btn-color);
}

footer .signature a {
  color: var(--fourth-color);
  font-family: var(--default-font-family);
  font-size: 12px;
  text-decoration: underline;
}

.btn-branding-outline {
  border-radius: 16px;
  background-color: var(--btn-color);
  box-shadow: 6px 5px 1px 2px #fc5677;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 20px;
  text-decoration: none;
}

.btn-branding-outline:hover {
  background-color: 6px 5px 4px 2px #fc5677;
  box-shadow: var(--btn-color);
  color:#ffffff;
}

.btn-branding-outline:hover a {
  color: #ffffff;
}

.btn-mailing {
  border-radius: 16px;
  border-color: var(--btn-color);
  background-color: var(--btn-color);
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 20px;
  text-decoration: none;
}

.block-title {
  background-color: #FAFAFA;
  color: var(--primary-color);
  font-size: 48px;
  text-align: center;
}

.coding-icons {
  background: transparent;
  color: #8081E3;
  font-size: 18px;

}.coding-icons-2 {
  background: #8081E3;
  color: transparent;
  font-size: 18px;
}

.content-container {
background-color: #FAFAFA;
color: var(--primary-color);
font-size: 48px;
text-align: center;
padding: 40px 70px;
}

.content-container p{
  color: var(--primary-color);
  font-size: 48px;
  }

  
.diploma {
  max-width: 80%;
}

.flip-card {
  display: block;
  margin: auto;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 30px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  border-radius: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #8081E3;
  color: #ffffff;
  padding-top: 15px;
}

.flip-card-front h1{
  background-color: #8081E3;
  border-radius: 30px;
  color: #ffffff;
  font-size: 2rem;
  padding: 40px 0px 0px;
}

.flip-card-front p{
  background-color: #8081E3;
  color: #ffffff;
  font-size: 1.2rem;
}

.flip-card-back {
  background-color: #8081E3;
  border-radius: 30px;
  color: #ffffff;
  transform: rotateY(180deg);
}

.hero {
  background-color: #FAFAFA;
  padding: 80px 20px 50px 20px;
  margin-top: 5em;
  text-align: center;

}

.hero h2, h3 {
  color: var(--primary-color);
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 20px;
  line-height: 2;
}

.hero p {
  background: #8081E3;
  background: -webkit-linear-gradient(to right, #8081E3 0%, #FF5F5E 51%, #F4B14F 86%);
  background: -moz-linear-gradient(to right, #8081E3 0%, #FF5F5E 51%, #F4B14F 86%);
  background: linear-gradient(to right, #8081E3 0%, #FF5F5E 51%, #F4B14F 86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--heading-font-family);
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.hero a:hover {
  color: #ffffff;
}

.img-fluid {
 display: block; 
 margin: auto;
}

.illustration-block {
  background-color: #FAFAFA;
 }
 
.illustration-block img {
  max-width: 350px;
  display: block;
  margin: auto;
}

.info-block {
  background-color: #FAFAFA;
  padding: 80px 20px;
  text-align: center;
}

.info-block p {
  background-color: #FAFAFA;
  color: var(--primary-color);
  font-family: var(--default-font-family);
  font-size: 48px;
  }

.info-block a {
  color: var(--primary-color);
  background-color: #FAFAFA;
  font-family: var(--default-font-family);
  font-size: 18px;
}

.info-block p {
  font-family: var(--heading-font-family);
  color: var(--secondary-color);
}

.logo {
  max-height: 50px;
}

.project-description {
  padding: 120px 60px;
}

.project-description h2 {
  font-size: 45px;
}

.profile-picture {
  border-radius: 30px;
  max-width: 50%;
}

.welcome {
  margin-top: 1.125rem;
}

@media (max-width: 400px) {
  h1 {
    font-size: 32px;
  }

  .flip-card {
    margin-bottom: 20px;
  }
}

@media (max-width: 950px) {
  h1 {
    font-size: 32px;
  }

  h2 {  
    font-family: var(--heading-font-family);
    font-size: 40px;
  }

  footer {
  padding-top: 1rem;
  }

  .block-title {
    background-color: white;
    color: var(--primary-color);
    font-size: 28px;
    text-align: center;
  }

  .btn-branding {
    font-size: 18px;
    display: block;
    margin: 0, auto;
  }
  
  .hero {
    padding: 50px 10px;
    text-align: center;
    margin-top: 2em;
  }

  .hero h1 {
    font-weight: bold;
  }

  .hero p {
    font-size: 40px;
  }
  
  .flip-card {
    margin-bottom: 20px;
  }

  .logo {
    max-height: 40px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .illustration-block img {
    max-width: 100px;
    display: block;
    margin: auto;
  }

  .welcome {
    margin-top: 4rem;
  }
}

